*{
	padding:0;
	margin:0;
}

table{
	border:1px solid #BBB;
	margin:20px auto;
	background-color: #DDD;
}

table th{
	width:130px;
	padding:10px;
	background-color:#99F;
}

table thead tr{
	background-color:#99F;
}

table td:hover{
	background-color:#00F;
	color:white;
	text-decoration: underline;
	cursor: pointer;
}

table tbody tr:nth-of-type(odd) {
	background-color:#AFA;
}
