*{
	padding:0;
	margin:2%;
}

#wrapper{
	width:50%;
	margin-left:25%;
	background-color: #777;
	border: 1px solid #F00;		
	font-size:20pt;
	font-weight:bold;
	text-align:center;
}

header, nav, footer{
	padding: 37px;
}

header{
	background-color: #FF0;
}

nav{
	background-color: #0F0;
}

footer{
	background-color: #00F;
}

section{
	background-color: magenta;
	border: 1px solid black;
}

section p {
	padding: 25px;

}

article{
	background-color: cyan;
	width:62%;
	height:160px;
	float:right;	
	margin-top:0;	
	

}

aside{
	background-color: #0A0;
	width:31%;
	height:335px;	

}