*{
	/*css reset */
	padding:0;
	margin:0;
}

#wrapper{
	border:1px solid #BBB;
	width:500px;
	height:200px;
	padding:15px;
	margin: 20px auto;
	overflow:scroll;
}

.clickable{
	color:#00F;
	text-decoration:underline;
}
.clickable:hover{
	cursor:pointer;
}